absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.12
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
anyio==4.6.2.post1
anytree==2.12.1
apeye==1.4.1
apeye-core==1.1.5
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
atlassian-python-api==3.41.4
attr==0.3.2
attrs==24.2.0
azure-core==1.31.0
azure-storage-blob==12.23.1
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
bottle==0.13.2
bottle-websocket==0.2.9
bs4==0.0.1
cached-property==2.0.1
cachetools==5.5.2
certifi==2020.12.5
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
coverage==7.6.4
cryptography==43.0.3
cycler==0.12.1
datasets==3.3.2
debugpy==1.8.7
decorator==5.1.1
deepdiff==8.0.1
Deprecated==1.2.14
dicttoxml==1.7.16
dill==0.3.8
distro==1.9.0
domdf-python-tools==3.9.0
Eel==0.17.0
environ-config==24.1.0
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.1.0
faiss-cpu==1.10.0
fastapi==0.115.4
filelock==3.16.1
Flask==3.0.0
flatbuffers==24.3.25
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.12.0
future==1.0.0
gast==0.6.0
gevent==24.10.3
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.67.1
h11==0.14.0
h5py==3.12.1
hexdump==3.3
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.28.1
idna==2.9
importlib_metadata==8.4.0
iniconfig==1.0.1
ipccli==4.24.24102.600
ipykernel==6.29.5
ipython==8.29.0
ipython-genutils==0.2.0
isodate==0.7.2
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.17.2
Jinja2==3.1.4
jiter==0.7.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.6.0
keyring==25.2.1
kiwisolver==1.4.7
langchain==0.3.17
langchain-core==0.3.34
langchain-text-splitters==0.3.6
langsmith==0.3.6
lanternrock==3.0.107
libclang==18.1.1
lmdb==1.4.1
lmdb-m==0.87.2
lxml==4.9.3
Markdown==3.7
markdown-it-py==3.0.0
markdown2==2.5.1
MarkupSafe==3.0.2
maskpass==0.3.7
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.4.1
modernize==0.7
more-itertools==10.5.0
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
multidict==6.1.0
multiprocess==0.70.16
namednodes==6.3.0.600
namex==0.0.8
narwhals==1.28.0
natsort==8.4.0
nbformat==4.2.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
oauthlib==3.2.2
openai==1.14.3
openpyxl==3.1.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opt_einsum==3.4.0
optree==0.13.0
orderly-set==5.2.2
orjson==3.10.15
packaging==24.1
pandas==2.2.3
parso==0.7.1
patsy==1.0.1
pillow==11.0.0
pip-system-certs==4.0
platformdirs==4.3.6
plotly==5.24.1
plotly-express==0.4.1
pluggy==1.5.0
portalocker==2.10.1
progressbar2==4.3.2
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==4.25.5
psutil==6.1.0
pure_eval==0.2.3
pyaml==24.9.0
pyarrow==19.0.1
pyaxon==2.12.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
PyGithub==2.1.1
Pygments==2.18.0
PyJWT==2.9.0
PyNaCl==1.5.0
pynput==1.7.7
pyparsing==3.2.0
pypi-json==0.4.0
pyspnego==0.11.1
pysvext.saranaclake==1.1.4.600
pysvtools==2.0.2
pysvtools.asciitable==2.0.3.600
pysvtools.bootscript==4.14.0.600
pysvtools.crashlog==3.131.24425.600
pysvtools.debug-mca==3.14.0
pysvtools.frozen==2.0.0.600
pysvtools.fv-markers==1.2.0
pysvtools.hsdes==1.3.1
pysvtools.ijtag==0.1.2.600
pysvtools.mbist==0.4.19
pysvtools.nanoscope==3.2424.0.600
pysvtools.nn_accesses==1.3.106.600
pysvtools.openipc_utils==0.19.0
pysvtools.pandolier==1.5.0.600
pysvtools.remote_logger==1.1.10
pysvtools.simicsbaseaccess==1.4.8.600
pysvtools.starter==2.7.0.600
pysvtools.state_dump==0.3.16
pysvtools.state_uarch==1.0.7
pysvtools.status-scope==5.2.2.600
pysvtools.textprompts==3.2.1.600
pysvtools.ultiscan==0.4.2
pytest==8.3.3
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-evtx==0.6.1
python-multipart==0.0.16
python-utils==3.9.0
pythonnet==3.0.3
pytz==2024.2
pywin32==306
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.2.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-futures==1.0.1
requests-kerberos==0.14.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests_ntlm==1.3.0
rich==13.9.3
rpds-py==0.20.0
ruff==0.9.4
safetensors==0.5.2
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sentence-transformers==3.4.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.38
sspilib==0.2.0
stack-data==0.6.3
starlette==0.41.2
statsmodels==0.14.4
streamlit==1.42.2
StrEnum==0.4.15
svtools==1.0.3.600
svtools.axon_ingest==4.0.1.600
svtools.axonsv_web_api==1.0.0.600
svtools.c3po==2.8.0.600
svtools.chassis-fuse==4.12.0.600
svtools.common==3.1.2.600
svtools.dflaunch==2.3.2.600
svtools.intel_version==2.1.0.600
svtools.ipip==3.8.0.600
svtools.itp2baseaccess==3.1.2.600
svtools.logging==3.4.1.600
svtools.memory-map==0.7.0.600
svtools.menu==3.2.0.600
svtools.onesource==2.0.6.600
svtools.opent==0.8.0.600
svtools.probe-bundles==7.2.0.600
svtools.pysv2axon==6.4.0.600
svtools.pysvrepo==1.5.0.600
svtools.report==3.0.12.600
svtools.rocksdbpy==0.1.0.600
svtools.settings_manager==3.1.0.600
svtools.stubbaseaccess==3.0.0.600
svtools.svosbaseaccess==3.2.2
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tf_keras==2.18.0
threadpoolctl==3.5.0
timeme==0.1.1
tokenizers==0.21.0
toml==0.10.2
tomli==2.0.2
torch==2.6.0
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
transformers==4.48.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.13
uuid7==0.1.0
uvicorn==0.32.0
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.1.2
whichcraft==0.6.1
wordcloud==1.9.4
wrapt==1.16.0
wxPython==4.2.1
xxhash==3.5.0
yarl==1.18.3
zipp==3.20.2
zope.event==5.0
zope.interface==7.1.1
zstandard==0.23.0
